* {
  box-sizing: border-box;
}

main {
  width: min(500px, 100%);
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;

  color: #28282B;

  background: #f6eee3;
  box-shadow:
    0.2rem 0.2rem 0.8rem 0.2rem rgba(76, 53, 73, 0.4);

  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  text-align: justify;
}

h1 {
  margin-top: .33em;
  margin-bottom: .8em;
  text-align: center;
}

p {
  margin-top: .3em;
  margin-bottom: .3em;
}

p.centered {
  text-align: center;
}

img {
  object-fit: contain;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section {
  padding: 1em;
  flex-direction: column;
}

a {
  color: #28282B;
}

td:nth-child(2) {
  text-align: right;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  align-self: end;
}

section:not(#first) {
  display: none;
}

section:not(#first):target {
  display: flex;
}

section:not(#first):target~#first {
  display: none;
}

/* Skládáme parníček! */

span.folds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  pointer-events: none;
}

span.folds-one-col {
  grid-template-columns: auto;
}

span.folds-four-cols {
  grid-template-columns: auto auto auto auto;
}

span.folds-eight-grid {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

span.fold {
  border: 0px solid rgba(30, 10, 60, 0.4);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-itrems: center;
}

span.fold-horizontal-quarter-1 {
  background-image:
    linear-gradient(to right,
      rgba(76, 53, 73, 0.00) 15%,
      rgba(76, 53, 73, 0.08) 23.5%,
      rgba(76, 53, 73, 0.05) 24.5%,
      rgba(76, 53, 73, 0.03) 25%,
      rgba(76, 53, 73, 0.05) 25.5%,
      rgba(76, 53, 73, 0.08) 26.5%,
      rgba(76, 53, 73, 0.00) 35%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 48.5%,
      rgba(76, 53, 73, 0.05) 49.5%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 50.5%,
      rgba(76, 53, 73, 0.08) 51.5%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.00) 65%,
      rgba(76, 53, 73, 0.08) 73.5%,
      rgba(76, 53, 73, 0.05) 74.5%,
      rgba(76, 53, 73, 0.03) 75%,
      rgba(76, 53, 73, 0.05) 75.5%,
      rgba(76, 53, 73, 0.08) 76.5%,
      rgba(76, 53, 73, 0.00) 85%);
}

span.fold-horizontal-quarter-2 {
  background-image:
    linear-gradient(to right,
      rgba(76, 53, 73, 0.00) 15%,
      rgba(76, 53, 73, 0.01) 25%,
      rgba(76, 53, 73, 0.15) 25%,
      rgba(76, 53, 73, 0.05) 25.5%,
      rgba(76, 53, 73, 0.08) 26.5%,
      rgba(76, 53, 73, 0.00) 35%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 50.5%,
      rgba(76, 53, 73, 0.08) 51.5%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.00) 65%,
      rgba(76, 53, 73, 0.01) 75%,
      rgba(76, 53, 73, 0.15) 75%,
      rgba(76, 53, 73, 0.05) 75.5%,
      rgba(76, 53, 73, 0.08) 76.5%,
      rgba(76, 53, 73, 0.00) 85%);

}

span.fold-vertical-quarter-1 {
  background-image:
    linear-gradient(to bottom,
      rgba(76, 53, 73, 0.00) 15%,
      rgba(76, 53, 73, 0.08) 23.5%,
      rgba(76, 53, 73, 0.05) 24.5%,
      rgba(76, 53, 73, 0.03) 25%,
      rgba(76, 53, 73, 0.05) 25.5%,
      rgba(76, 53, 73, 0.08) 26.5%,
      rgba(76, 53, 73, 0.00) 35%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 48.5%,
      rgba(76, 53, 73, 0.05) 49.5%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 50.5%,
      rgba(76, 53, 73, 0.08) 51.5%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.00) 65%,
      rgba(76, 53, 73, 0.08) 73.5%,
      rgba(76, 53, 73, 0.05) 74.5%,
      rgba(76, 53, 73, 0.03) 75%,
      rgba(76, 53, 73, 0.05) 75.5%,
      rgba(76, 53, 73, 0.08) 76.5%,
      rgba(76, 53, 73, 0.00) 85%);
}

span.fold-vertical-quarter-2 {
  background-image:
    linear-gradient(to bottom,
      rgba(76, 53, 73, 0.00) 15%,
      rgba(76, 53, 73, 0.01) 25%,
      rgba(76, 53, 73, 0.15) 25%,
      rgba(76, 53, 73, 0.05) 25.5%,
      rgba(76, 53, 73, 0.08) 26.5%,
      rgba(76, 53, 73, 0.00) 35%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 50.5%,
      rgba(76, 53, 73, 0.08) 51.5%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.00) 65%,
      rgba(76, 53, 73, 0.01) 75%,
      rgba(76, 53, 73, 0.15) 75%,
      rgba(76, 53, 73, 0.05) 75.5%,
      rgba(76, 53, 73, 0.08) 76.5%,
      rgba(76, 53, 73, 0.00) 85%);
}

span.fold-diagonal-1-1,
span.fold-diagonal-4-4 {
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-diagonal-1-2,
span.fold-diagonal-2-1,
span.fold-diagonal-2-2,
span.fold-diagonal-3-3,
span.fold-diagonal-3-4,
span.fold-diagonal-4-3 {
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-diagonal-1-3,
span.fold-diagonal-2-3,
span.fold-diagonal-2-4,
span.fold-diagonal-3-1,
span.fold-diagonal-3-2,
span.fold-diagonal-4-2 {
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-diagonal-1-4,
span.fold-diagonal-4-1 {
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-1-3 {
  grid-row-start: 1;
  grid-column-start: 3;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to right,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%);
}

span.fold-eight-1-4 {
  grid-row-start: 1;
  grid-column-start: 4;
  background-image:
    linear-gradient(to right,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%),
    linear-gradient(to bottom,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%);
}

span.fold-eight-1-5 {
  grid-row-start: 1;
  grid-column-start: 5;
  background-image:
    linear-gradient(to right,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%),
    linear-gradient(to bottom,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%);
}

span.fold-eight-1-6 {
  grid-row-start: 1;
  grid-column-start: 6;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to right,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%);
}

span.fold-eight-2-4 {
  grid-row-start: 2;
  grid-column-start: 4;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to bottom,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%);
}

span.fold-eight-2-5 {
  grid-row-start: 2;
  grid-column-start: 5;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to bottom,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%);
}

span.fold-eight-3-1 {
  grid-row-start: 3;
  grid-column-start: 1;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-3-8 {
  grid-row-start: 3;
  grid-column-start: 8;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-4-2 {
  grid-row-start: 4;
  grid-column-start: 2;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-4-7 {
  grid-row-start: 4;
  grid-column-start: 7;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-5-2 {
  grid-row-start: 5;
  grid-column-start: 2;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-5-7 {
  grid-row-start: 5;
  grid-column-start: 7;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-6-1 {
  grid-row-start: 6;
  grid-column-start: 1;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-6-8 {
  grid-row-start: 6;
  grid-column-start: 8;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%);
}

span.fold-eight-7-4 {
  grid-row-start: 7;
  grid-column-start: 4;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to top,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%);
}

span.fold-eight-7-5 {
  grid-row-start: 7;
  grid-column-start: 5;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.01) 50%,
      rgba(76, 53, 73, 0.15) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to top,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%);
}

span.fold-eight-8-3 {
  grid-row-start: 8;
  grid-column-start: 3;
  background-image:
    linear-gradient(135deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to right,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%);
}

span.fold-eight-8-4 {
  grid-row-start: 8;
  grid-column-start: 4;
  background-image:
    linear-gradient(to right,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%),
    linear-gradient(to top,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%);
}

span.fold-eight-8-5 {
  grid-row-start: 8;
  grid-column-start: 5;
  background-image:
    linear-gradient(to right,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%),
    linear-gradient(to top,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.08) 94%,
      rgba(76, 53, 73, 0.05) 98%,
      rgba(76, 53, 73, 0.03) 100%);
}

span.fold-eight-8-6 {
  grid-row-start: 8;
  grid-column-start: 6;
  background-image:
    linear-gradient(45deg,
      rgba(76, 53, 73, 0.00) 30%,
      rgba(76, 53, 73, 0.08) 47%,
      rgba(76, 53, 73, 0.05) 49%,
      rgba(76, 53, 73, 0.03) 50%,
      rgba(76, 53, 73, 0.05) 51%,
      rgba(76, 53, 73, 0.08) 53%,
      rgba(76, 53, 73, 0.00) 70%),
    linear-gradient(to right,
      rgba(76, 53, 73, 0.03) 0%,
      rgba(76, 53, 73, 0.05) 2%,
      rgba(76, 53, 73, 0.08) 6%,
      rgba(76, 53, 73, 0.00) 60%);
}